:root {
  /* --background: #859BB4;
  --background: #eeb65b; */
  --background: #df9f40;
  --foreground: #171717;
  --bgColDropDown: rgb(78, 97, 143);
  --fontColor: #333333;
  --fontButtonColor: #e5e5e5;
  --fontButtonColorHover: #000000;
  --buttonBgColor:#252547;
  --buttonBgColorHover:rgb(205, 87, 2);
  --instructionBgColor: #eaeaea;
  --fontColorDropDown: #e5e5e5;
  --boxColor: #252547;
  --boxHeaderColor: rgb(164, 164, 164);
  --borderColor: rgb(205, 87, 2);
  --fontSizeText: 1.2rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}