.headers {
  display: grid;
  grid-template-areas: "create workouts";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  align-items: stretch;
  position: relative;
  width: 100%;
  height: 50vh;
  border: 3px solid var(--borderColor);
}

.slideheaderWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -2;
}

/* .textOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50vh;
  background: linear-gradient(to right, rgba(0, 0, 0, 1), transparent);
  z-index: 1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 2rem;
}

.heroText {
  color: white;
  font-size: clamp(2.2rem, 2vw, 3rem);
  font-weight: bold;
  text-align: center;
  text-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
} */

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-family: Arial, sans-serif;
  color: var(--fontColor);
  width: 100%;
}

/* Mobile */
@media (max-width: 1023px) {
  .header {
    grid-template-columns: 1fr;
    width: 100%;
  }

  .titleWrapper {
    width: 100%;
    display: flex;
    justify-content: stretch;
    align-items: center;
  }

  .workoutWrapper {
    width: 100%;
  }
  /* Eller en specifik höjd beroende på ditt behov */

.slideheaderWrapper {
  height: 40vh;
}
}

/* wide screen */
@media (min-width: 1024px) {
  /* header.titleWrapper {
    width: 46%;
    margin: .5rem auto .8rem 1.5rem;
  } */
}