.buttonWrapper{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding-top: .8rem;
    padding: 1rem 2rem;
    height: auto;
}
.submitButton {
    background-color: var(--buttonBgColor); 
    color: var(--fontButtonColor);
    font-size: 1rem;
    padding: .75rem 1.3rem;
    border-radius: 12px;
    width:auto;
    height: 2.8rem;
    margin-top: auto;
    margin-right: clamp(0.1rem,4vw,2.3rem);
}
.submitButton:hover {
    background-color: var(--buttonBgColorHover);
    color: var(--fontButtonColorHover)
}
.isSaved{
    color:rgb(39, 18, 70);
    font-size: 1.2rem;
    padding: 1.5rem;
}

.bodybuilder_image{
    width:22%;
    height: auto;
    margin-left: 1.5rem;
}

