.backgroundSlideshow {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 0.5rem;
    border: 3px solid var(--borderColor);
    z-index: 0;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    z-index: 0;
    /* animation-fill-mode: forwards; */
    animation: fadeZoom 54s infinite;
    animation-fill-mode: both;
    transform-origin: center;
    /* will-change: opacity, transform; */
}

.slide1 {
    background-image: url('/shoulders.jpg');
    animation-delay: 0s;
}

.slide2 {
    background-image: url('/fitnessclub.jpg');
    animation-delay: 6s;
}

.slide3 {
    background-image: url('/draginglines.jpg');
    animation-delay: 12s;
}

.slide4 {
    background-image: url('/pullups.jpg');
    animation-delay: 18s;
}

.slide5 {
    background-image: url('/hantel2.jpg');
    animation-delay: 24s;
}

.slide6 {
    background-image: url('/concentratecurl.jpg');
    animation-delay: 30s;
}

.slide7 {
    background-image: url('/skivstang.jpg');
    animation-delay: 36s;
}

.slide8 {
    background-image: url('/hantel.jpg');
    animation-delay: 42s;
}

.slide9 {
    background-image: url('/barbell.jpg');
    animation-delay: 48s;
}


@keyframes fadeZoom {
    0% {
        opacity: 0;
        transform: scale(1);
    }

    5% {
        opacity: 1;
        transform: scale(1.03);
    }

    85% {
        opacity: 1;
        transform: scale(1.08);
    }

    100% {
        opacity: 0;
        transform: scale(1.1);
    }
}


