  .container {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 1.5rem;
      margin-top: 1rem;
  }

  .label {
      display: flex;
      align-items: center;
      gap: 0.25rem;
      font-size: .9rem;
      font-weight: 600;
  }

  input.weightInput {
      height: 1.8rem;
      width: 3rem;
      font-weight: 400;
      font-size: .9rem;
      padding: .3rem

  }